<%= simple_form_for [:admin, @product] do |f| %>
  <div class="form-group">
    <%= f.input :title, input_html: { class: "form-control"} %>
    <%= f.input :description, input_html: { class: "form-control"} %>
    <%= f.input :image, lable: "商品图片" %>
    <%= f.input :price, lable: "价格", input_html: { class: "form-control"} %>
    <%= f.input :quantity, lable: "库存量", input_html: { class: "form-control"} %>

  </div>
  <%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Submiting..." } %>
<% end %>