<div class="row">

  <% @products.each do |product| %>

    <div class="col-sm-4 col-md-3 col-lg-2">
      <% if product.image.present? %>
        <%= image_tag(product.image.medium.url, class: "card-img-top img-rounded", alt: product.title) %>
      <% else %>
        <%= image_tag("/index_image_placeholer.png", class: "card-img-top img-rounded", alt: product.title) %>
      <% end %>

        <h4><%= product.title %></h4>
        <p> ￥ <%= product.price %></p>
        <p><%= link_to("加入购物车", "#", class: "btn btn-danger") %></p>
    </div>

  <% end %>

</div>